.card{
    border-radius: 2px;
    box-shadow: 0 1px 8px black;
    background-color:rgba(95, 255, 47, 0.438);
    margin-bottom: 10px;
    text-align: center;
    width:fit-content;
    padding:20px;
}