.backdrop{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index:10;
    background: rgba(0, 0, 0, 0.726);
}

.modal{
    position:fixed;
    top:30vh;
    left: 10%;
    width: 80%;
    z-index:100;
    overflow: hidden;
    background-color: azure;
    border-radius: 4px;
}

.header{
    background: rgb(203, 248, 209);
    padding: 1rem;
}
.actions{
    background-color:rgb(203, 248, 209);
    border-radius: 3px;
    border:none;
   font:inherit;
   font-size: medium;
   padding: 0.25 rem;
   margin-bottom: 10px;
   
}