.expense-item{
    width:80%;
    height: 100px;
    background-color: antiquewhite;
    /* text-align: center; */
    margin-left: 50px;
    display: inline-block; 
    padding-right: 30px;
    /* align-content: center; */
}
.expense-date{
    margin-left: 10px;
    display: inline-block; 
    margin-top: -10px;
    align-items: left;
}
.expense-name{
    margin-left: 120px;
    margin-top: -10px;
    display: inline-block; 
    align-items: center;
  
}
.expense-amount{
    margin-left: 220px;
    margin-top: -10px;
    display: inline-block; 
    align-items: right;
    
}